.container {
    height: 350px;
    width: 1000px;
    border: 5px solid black;
}

div {
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    /* display: inline-block; */
    font-size: 1.5em;
    color: rgb(0, 0, 0);
}
